.draggable-box {
    position: absolute;
    z-index: 9;
    text-align: center;
    border-radius: .5em;
}
  
.draggable-header {
    border-radius: .5em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: .2em;
    cursor: move;
    z-index: 10;
    height: 1em;
    background-color: #dddddd;
}

.draggable-body {
    background-color: #dddddd;
    z-index: 10;
    padding: .5em;
    border-radius: .5em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
