.draggable-box {
    position: absolute;
    z-index: 9;
    text-align: center;
    border-radius: .5em;
    background-color: darkgray;
    max-width: 100%;
}
  
.draggable-header {
    border-radius: .5em;
    padding: .2em;
    cursor: move;
    z-index: 10;
    height: 1.5em;
    min-width: 3em;
}

.draggable-body {
    z-index: 10;
    padding: .5em;
    padding-top: 0;
    border-radius: .5em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
