.table {
    border: 1px #151515;
    width: 80%; 
    margin :auto; 
    white-space: nowrap; 
    border-spacing: 0;
    border-collapse: collapse;
}
.odd {
background-color: white;
text-align: auto;

}   
.even {
background-color: whitesmoke;
text-align: auto;

}
.close {
    /* still bad on picking color */
    background: orange;
    color: red;
    /* make a round button */
    border-radius: 12px;
    /* center text */
    line-height: 20px;
    text-align: center;
    height: 20px;
    width: 20px;
    font-size: 18px;
    padding: 1px;
}
/* use cross as close button */
.close::before {
    content: "\2716";
}
.sorting_disabled{
    border-bottom: 1px solid
    black;
    font-weight: bold;
    cursor: pointer;
    background-color:
    white;
    font-size: small;
}
.black_overlay{ 
    display: none; 
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: black; 
    z-index:1001; 
    -moz-opacity: 0.8; 
    opacity:.80; 
    filter: alpha(opacity=88); 
} 

.AIDE { 
    display: none; 
    position: fixed; 
    top: 25%; 
    left: 25%; 
    width: auto;
    height: 300px;
    padding: 30px; 
    border: 5px solid #003366; 
    background-color: white; 
    z-index:1002;
    overflow: auto; 
    text-align: center;
}

.white_content { 
    
    top: 25%; 
    left: 25%; 
    width: auto;
    height: 300px;
    padding: 30px; 
    border: 5px solid #003366; 
    background-color: white; 
    z-index:1002;
    overflow: auto; 
    text-align: center;
}


.white_content2 { 
    top: 25%; 
    left: 25%; 
    width: 300px;
    height: 300px;
    padding: 30px; 
    background-color: white; 
    z-index:1002;
    overflow: auto; 
    text-align: center;
}

.delete_right {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    
}